.header-container--catalog {
  background-image: none;
}

.slogan-catalog {
  display: none;
}

.header-catalog {
  max-height: 58px;
  min-height: 0;
}

@media (min-width: $desktop-width) {
  .header-catalog {
    max-height: 105px;
    padding-bottom: 20px;

    .social-list {
      display: none;
    }
  }

  .header__content--catalog {
    padding-top: 58px;
  }
}

