.catalog-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 30px;
  position: relative;
}

.catalog {
  width: 80%;
  margin: 0 auto;
}

.catalog__list {
  padding: 0;
  list-style: none;
}

.catalog__item {
  position: relative;

  a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    mix-blend-mode: multiply;
    margin: 0 0 109px 0;
    object-fit: cover;
  }

  .link {
    text-decoration: none;
  }

  .link svg {
    position: absolute;
    top: 215px;
    left: 50%;
    transform: translate(-50%);
  }

  .link h3 {
    font-family: "Hagin Caps Medium", sans-serif;
    font-size: 24px;
    width: 58%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: #817155;
  }

  .link p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #9b8869;
  }

  &::before {
    content: "";
    position: absolute;
    height: 240px;
    width: 178px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border: 6px solid #f0ede8;
  }
}

.page-nav {
  width: 82%;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 6px;
    left: 0;
    background-color: #9b8869;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 12%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
    background-color: #e9e1d5;
  }

  .page-nav__link {
    font-family: "Hagin Caps", sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #9b8869;
    text-decoration: none;
  }

  .page-nav__link--backwards {
    svg {
      opacity: 60%;
    }
  }

  .active {
    color: #ba4f4f;
  }
}

.opacity {
  opacity: 0.3;
}