.catalog-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 30px;
  position: relative;
  flex-wrap: wrap;
}

.catalog {
  width: 100%;
  margin: 0 auto;
}

.catalog__list {
  padding: 0;
  list-style: none;
}

.catalog__item {
  position: relative;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 60px;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 178px;
    margin-bottom: 45px;
  }

  img {
    display: block;
    width: auto;
    mix-blend-mode: multiply;
    margin: 0;
    object-fit: cover;
  }


  svg {
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
  }

  h3 {
    font-family: "Hagin Caps Medium", sans-serif;
    font-size: 24px;
    font-weight: 300;
    width: 71.4%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 9px;
    color: #817155;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #9b8869;
    width: 108px;
    margin: 0 auto 10px;
  }

  .cost {
    font-family: "Hagin Caps", sans-serif;
    font-size: 24px;
    text-align: center;
    color: #ba4f4f;
    width: 63%;
    margin: 0 auto;
  }

  &::before {
    content: "";
    position: absolute;
    height: 178px;
    width: 178px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border: 6px solid #f0ede8;
  }
}

.page-nav {
  width: 82%;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
    background-color: #e9e1d5;
  }

  .page-nav__link {
    font-family: "Hagin Caps", sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #9b8869;
    text-decoration: none;
  }

  .page-nav__link--backwards {
    svg {
      opacity: 60%;
    }
  }

  .active {
    color: #ba4f4f;
  }
}

@media (min-width: $desktop-width) {
  .catalog-container {
    width: 93%;
    flex-wrap: wrap;
  }

  .catalog {
    width: 80%;
    display: flex;
    margin: 17px auto 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 400;
  }

  .catalog__item h3 {
    width: 54.7%;
  }
}

