.bikes {
  width: 90%;
  min-height: 766px;
  margin: 0 auto;
  padding-top: 30px;
}

.bikes__caption {
  font-family: "Hagin Caps Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #817155;
  margin: 0 0 22px 0;
}

.bikes__text {
  width: 97%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #817155;
  margin: 0 auto 30px;
}

.bikes__list {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.bikes__link {
  margin-bottom: 43px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 1px;
    background-color: #9b8869;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 1px;
    background-color: #9b8869;
  }

  a {
    width: 68%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Hagin Caps", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #817155;
    border: 1px solid #9b8869;
    padding: 16px 0 15px 0;
    cursor: pointer;
  }
}
