.bikes {
  width: 90%;
  margin: 0 auto;
  padding-top: 27px;
}

.bikes__caption {
  font-family: "Hagin Caps Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #817155;
  margin: 0 0 11px 0;
}

.bikes__text {
  width: 97%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #817155;
  margin: 0 auto 36px;
}

.bikes__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto 30px;
  display: flex;
}

.bikes__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e1d5;
  height: 348px;
  margin-bottom: 69px;

  &::after {
    content: "";
    position: absolute;
    width: 168px;
    height: 168px;
    border: 6px solid #f0ede8;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .link {
    height: 178px;
    display: flex;
    box-sizing: border-box;
    align-items: center;

    img {
      position: relative;
      z-index: 1;
      max-width: 100%;
      object-fit: cover;
      height: auto;
      mix-blend-mode: multiply;
    }
  }

  .chart-add {
    width: 100%;
    top: 153px;
    position: absolute;
    z-index: 1;
  }

  .title {
    width: 52%;
    font-family: "Hagin Caps", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #817155;
    margin: 0;
  }

  .new-width {
    width: 60%;
  }

  .description {
    width: 37%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #9b8869;
    margin: 0;
  }

  .cost {
    font-family: "Hagin Caps", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ba4f4f;
    margin-bottom: -8px;
    margin-top: 9px;
  }
}

.bikes__link {
  margin-bottom: 28px;
  position: relative;
  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 39px;
    height: 1px;
    background-color: #9b8869;
  }

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 0;
    width: 39px;
    height: 1px;
    background-color: #9b8869;
  }

  a {
    width: 68%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Hagin Caps", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #817155;
    border: 1px solid #9b8869;
    padding: 12px 0 8px 0;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .bikes {
    padding-top: 80px;
  }

  .bikes__caption {
    font-family: "Hagin Caps", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #817155;
    width: 80%;
    margin: 0 auto 20px;
  }

  .bikes__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #817155;
    width: 65%;
    margin-bottom: 80px;
  }

  .bikes__wrapper {
    &::after {
      width: 178px;
      height: 240px;
    }

    a {
      margin-bottom: 30px;
    }
  }

  .bikes__link {
    width: 82%;
    margin: 0 auto 95px;

    a {
      width: 24%;
    }

    &::before,
    &::after {
      width: 350px;
    }
  }
}
