.footer-container {
  background-image: url("../img/footer-bg-mobile@1x.jpg");

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/footer-bg-mobile@2x.jpg");
    background-size: cover;
  }
}

@media (max-width: $mobile-width) {
  .footer-nav {
    display: none;
  }
}

.footer-nav__list {
  width: 82%;
  margin: 0 auto 35px;
  padding: 22px 0 22px 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  border-top: 1px solid #baa480;
  border-bottom: 1px solid #baa480;
}

.footer-nav__item {
  a {
    font-family: "Hagin Caps Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #baa480;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  margin: 0 auto;

  svg {
    width: 50%;
    order: -1;
    margin-bottom: 10px;
  }
}

.footer-content__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 34%;
  padding: 0;
  margin: 0 0 10px 0;

  svg {
    width: 100%;
    fill: #baa480;
  }
}

.footer__info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.2px;


  a {
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
    color: #baa480;
  }

  p {
    color: #baa480;
    margin: 0;
    margin-bottom: 30px;
  }
}
