.header-container {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.main-header {
  width: 90%;
  min-height: 568px;
  margin: 0 auto;
}

.main-header__content {
  padding-top: 16px;
}

// Временно скрываем навигацию

.navigation-list,
.login-list,
.main-nav__logout,
.social-list {
  display: none;
}

//
.main-nav {
  position: relative;
  min-height: 28px;
  margin-bottom: 45px;
}

.main-nav__logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav__hamburger {
  width: 18px;
  height: 12px;
  background-image: url("../img/menu-closed.svg");
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.slogan {
  width: 85%;
  margin: 0 auto;

  .slogan__logo {
    margin-bottom: 136px;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.slogan__shop-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #baa480;
  background: rgba(26, 25, 24, 0.8);
  border: 1px solid #baa480;
  padding: 20px 0 16px 0;
  cursor: pointer;
}
