.header-container {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}

.main-header {
  width: 90%;
  min-height: 568px;
  margin: 0 auto;
}

.main-header__content {
  padding-top: 83px;
}

.main-nav {
  width: 95%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 568px;
  margin-bottom: 45px;
  background-color: #f0ede8;
  z-index: 1;
  transform: translateX(-100%);
  transition: all 0.3s ease 0s;
}

.navigation-list {
  list-style: none;
  margin-top: 88px;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-left: 30px;
  width: 79%;

  a {
    text-decoration: none;
    color: #9b8869;
    cursor: pointer;
  }
}

.navigation-list__item {
  margin-bottom: 20px;

  &:last-child {
    border-top: 1px solid #9b8869;
    border-bottom: 1px solid #9b8869;
    padding: 20px 0 20px 0;
  }
}

.login-list {
  list-style: none;
  padding-left: 30px;
  width: 79%;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  a {
    text-decoration: none;
    text-transform: none;
    color: #9b8869;
    cursor: pointer;
    display: inline-block;
  }
}

.login-list__item--login {
  position: absolute;
  top: 18px;
  left: 80px;

  a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #9b8869;
    text-decoration: none;
    cursor: pointer;
  }

  svg {
    width: 12px;
    height: 13px;
  }
}

.login-list__item--search {

  svg {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.login-list__item--chart {
  position: absolute;
  top: 16px;
  left: 580px;
}

.main-nav__logout {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 0;
  margin: 0;
}

.main-header__logo {
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 160px;
  transform: translateX(-50%);
}

.main-header__hamburger {
  position: absolute;
  box-sizing: border-box;
  width: 18px;
  height: 12px;
  background-color: transparent;
  border: none;
  top: 20px;
  left: 15px;
  padding: 0;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #9b8869;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9b8869;
    position: absolute;
    top: 5px;
    transition: all 0.3s ease 0s;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #9b8869;
    top: 10px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}

.clicked {
  span {
    transform: scale(0);
  }

  &::before {
    transform: rotate(45deg);
    top: 5px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 5px;
  }
}

.opened {
  transform: translateX(0);
}

.slogan {
  width: 85%;
  margin: 0 auto;

  .slogan__logo {
    margin-bottom: 136px;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.slogan__shop-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #baa480;
  background: rgba(26, 25, 24, 0.8);
  border: 1px solid #baa480;
  padding: 20px 0 16px 0;
  cursor: pointer;
}

.social-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .header-container {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .main-header__content {
    padding-top: 120px;
  }

  .main-header__logo {
    top: 17px;
    left: 50%;
  }

  .main-header__hamburger {
    top: 25px;
    left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    min-height: 0;
    padding-bottom: 30px;
  }

  .main-header__content {
    padding-top: 36px;
  }

  .main-nav {
    position: relative;
    transform: none;
    transition: none;
    background-color: transparent;
    min-height: 0;
    margin: 0 0 185px auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 85%;
  }

  .login-list {
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .navigation-list__item {
    margin: 0;
  }

  .navigation-list__item:last-child {
    display: none;
  }

  .main-nav__logout,
  .main-header__hamburger {
    display: none;
  }

  .login-list__item--search {
    span {
      display: none;
    }
  }

  .main-header__logo {
    left: 134px;
    top: 29px;
  }

  .login-list__item--chart,
  .login-list__item--login {
    position: relative;
    top: 0;
    left: 0;
  }

  .login-list__item--login svg {
    width: 20px;
    height: 20px;
  }

  .login-list__item--search svg {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .login-list__user-name {
    display: none;
  }

  .social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
    width: 15%;
  }

  .slogan {
    width: 37%;
    margin: 0 0 198px auto;

    .slogan__logo {
      margin-bottom: 60px;
    }
  }
}
