.header-container {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}

.main-header {
  width: 90%;
  min-height: 568px;
  margin: 0 auto;
}

.main-header__content {
  padding-top: 16px;
}

.main-nav {
  width: 95%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 568px;
  margin-bottom: 45px;
  background-color: #f0ede8;
  z-index: 1;
}

.navigation-list {
  list-style: none;
  margin-top: 88px;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-left: 30px;
  width: 79%;

  a {
    text-decoration: none;
    color: #9b8869;
    cursor: pointer;
  }
}

.navigation-list__item {
  margin-bottom: 20px;

  &:last-child {
    border-top: 1px solid #9b8869;
    border-bottom: 1px solid #9b8869;
    padding: 20px 0 20px 0;
  }
}

.login-list {
  list-style: none;
  padding-left: 30px;
  width: 79%;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  a {
    text-decoration: none;
    text-transform: none;
    color: #9b8869;
    cursor: pointer;
    display: inline-block;
  }
}

.login-list__item--login {
  position: absolute;
  top: 18px;
  left: 80px;

  a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #9b8869;
    text-decoration: none;
    cursor: pointer;
  }

  svg {
    width: 12px;
    height: 13px;
  }
}

.login-list__item--search {

  svg {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.login-list__item--chart {
  display: none;
}

.main-nav__logout {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 0;
  margin: 0;
}

.main-nav__logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav__hamburger {
  position: absolute;
  box-sizing: border-box;
  width: 18px;
  height: 12px;
  background-color: transparent;
  border: none;
  top: 20px;
  left: 15px;
  padding: 0;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #9b8869;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9b8869;
    position: absolute;
    top: 5px;
    transition: all 0.3s ease 0s;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #9b8869;
    top: 10px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}

.opened {
  span {
    transform: scale(0);
  }

  &::before {
    transform: rotate(45deg);
    top: 5px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 5px;
  }
}

.clicked {
  width: 85%;
  margin: 0 auto;

  .slogan__logo {
    margin-bottom: 136px;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.slogan__shop-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #baa480;
  background: rgba(26, 25, 24, 0.8);
  border: 1px solid #baa480;
  padding: 20px 0 16px 0;
  cursor: pointer;
}
