.workshop {
  position: relative;
  min-height: 602px;
  margin: 0 auto;
  padding-top: 30px;
  background-image: url("../img/wsh-back-mobile@1x.jpg");
  background-size: cover;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/wsh-back-mobile@2x.jpg");
  }
}

.workshop__content {
  width: 90%;
  margin: 0 auto;
}

.workshop__img {
  position: absolute;
  top: 54%;
  z-index: 1;

  img {
    max-width: 100%;
    display: block;
  }
}

.workshop__text {
  h2 {
    font-family: "Hagin Caps", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #baa480;
    margin: 0 0 20px 0;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #e9e1d5;
  }

  a {
    display: none;
  }
}

.workshop__first-paragraph {
  margin: 0 0 18px 0;
}

.workshop__second-paragraph {
  margin: 0 0 30px 0;
}

@media (min-width: $tablet-width) {
  .workshop {
    min-height: 0;
    padding-bottom: 30px;
  }

  .workshop__img {
    position: relative;

    img {
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .workshop__content {
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 123px 0 60px;
  }

  .workshop__text {
    width: 49%;

    h2 {
      font-family: "Hagin Caps", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      text-align: left;
      text-transform: uppercase;
      color: #baa480;
    }

    p {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.2px;
      text-align: left;
      color: #e9e1d5;
    }

    a {
      width: 47%;
      display: block;
      font-family: "Hagin Caps", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      color: #BAA480;
      padding: 20px 0 20px 0;
      border: 1px solid #BAA480;
    }
  }

  .workshop__img {
    order: -1;
    width: 44%;
  }
}