.workshop__content {
  width: 90%;
  min-height: 602px;
  margin: 0 auto;
  padding-top: 30px;
  background-image: url("../img/wsh-back-mobile@1x.jpg");
  background-size: cover;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/wsh-back-mobile@2x.jpg");
  }
}