.slick-slider {
  min-width: 0;
  position: relative;
  margin-bottom: 33px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.slick-prev {
  position: absolute;
  top: 73%;
  transform: translateY(-73%);
  left: 0;
  width: 16px;
  height: 40px;
  font-size: 0;
  background-image: url("../img/left-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.slick-next {
  position: absolute;
  top: 73%;
  transform: translateY(-73%);
  right: 0;
  width: 16px;
  height: 40px;
  font-size: 0;
  background-image: url("../img/right-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  z-index: 1;
}

@media (min-width: $desktop-width) {
  .slick-slider {
    margin-bottom: 61px;
  }
}
