.slick-track {
  display: flex;
}

.slick-slider {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.slick-slide {
  text-align: center;
}

// .slick-list {
//   overflow: hidden;
// }

.slick-prev {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  left: 64px;
  width: 16px;
  height: 40px;
  font-size: 0;
  background-image: url("../img/left-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.slick-next {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  right: 64px;
  width: 16px;
  height: 40px;
  font-size: 0;
  background-image: url("../img/right-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  z-index: 1;
}
