.header-container {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}

.header {
  width: 90%;
  min-height: 568px;
  margin: 0 auto;
}

.header__content {
  padding-top: 83px;
}

.nav {
  width: 96%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 568px;
  margin-bottom: 45px;
  background-color: #f0ede8;
  z-index: 1;
  transform: translateX(-106%);
  transition: all 0.3s ease 0s;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navigation-list {
  list-style: none;
  margin-top: 88px;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-left: 30px;
  width: 79%;

  a {
    text-decoration: none;
    color: #9b8869;
    cursor: pointer;
  }
}

.navigation-list__item {
  margin-bottom: 18px;

  &:last-child {
    border-top: 1px solid #9b8869;
    border-bottom: 1px solid #9b8869;
    padding: 18px 0 18px 0;
  }
}

.login-list {
  list-style: none;
  padding-left: 30px;
  width: 79%;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  a {
    text-decoration: none;
    text-transform: none;
    color: #9b8869;
    cursor: pointer;
    display: inline-block;
  }
}

.login-list__item--login {
  position: absolute;
  top: 18px;
  left: 85px;

  a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #9b8869;
    text-decoration: none;
    cursor: pointer;
  }

  svg {
    margin: 0 0 -2px -5px;
    width: 12px;
    height: 13px;
  }

  span {
    margin: 0 0 0 5px;
  }
}

.login-list__item--search {
  margin-top: -4px;
  position: relative;

  a {
    padding-top: 5px;
  }

  svg {
    position: absolute;
    top: 6px;
    left: 0;
    width: 16px;
    height: 16px;
  }

  span {
    text-transform: uppercase;
    padding-left: 26px;
  }
}

.login-list__item--chart {
  position: relative;
  top: 18px;
  left: 588px;
  display: none;
}

.nav__logout {
  position: absolute;
  top: 19px;
  right: 14px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.header__logo {
  width: 40%;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);

  svg {
    width: 100%;
  }
}

.header__hamburger {
  position: absolute;
  box-sizing: border-box;
  width: 18px;
  height: 12px;
  background-color: transparent;
  border: none;
  top: 21px;
  left: 13px;
  padding: 0;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #9b8869;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9b8869;
    position: absolute;
    top: 5px;
    transition: all 0.3s ease 0s;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #9b8869;
    top: 10px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}

.hamburger-clicked {
  span {
    transform: scale(0);
  }

  &::before {
    transform: rotate(45deg);
    top: 5px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 5px;
  }
}

.nav-opened {
  transform: translateX(0);
}

.slogan {
  width: 85%;
  margin: 0 auto;

  .slogan__logo {
    margin-bottom: 133px;
  }

  svg {
    width: 100%;
    height: auto;
    padding-left: 3px;
  }
}

.slogan__shop-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #baa480;
  background: rgba(26, 25, 24, 0.8);
  border: 1px solid #baa480;
  padding: 19px 0 13px 0;
  cursor: pointer;
}

.social-list {
  display: none;
}

.header__chart {
  position: absolute;
  display: block;
  top: 17px;
  right: 14px;
}

@media (min-width: $tablet-width) {
  .header-container {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .header__content {
    padding-top: 120px;
  }

  .header__logo {
    top: 17px;
    left: 50%;
  }

  .header__hamburger {
    top: 25px;
    left: 41px;
  }

  .header__chart {
    top: 23px;
    right: 41px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: 94%;
    min-height: 0;
    padding-bottom: 30px;
  }

  .header__content {
    padding-top: 36px;
  }

  .nav {
    position: relative;
    transform: none;
    transition: none;
    background-color: transparent;
    min-height: 0;
    margin: 0 0 191px auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    box-shadow: none;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    top: 4px;
    position: relative;
    left: -33px;
    width: 72%;
  }

  .login-list {
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .navigation-list__item {
    margin: 0;
  }

  .navigation-list__item:last-child {
    display: none;
  }

  .nav__logout,
  .header__hamburger {
    display: none;
  }

  .login-list__item--search {
    top: 5px;
    right: 65px;

    span {
      display: none;
    }
  }

  .header__logo {
    left: 145px;
    top: 36px;
  }

  .login-list__item--chart {
    position: relative;
    top: 37px;
    left: 131px;
  }

  .login-list__item--login {
    position: relative;
    top: 7px;
    left: -3px;
  }

  .login-list__item--login svg {
    width: 20px;
    height: 20px;
  }

  .login-list__item--search svg {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .login-list__user-name {
    display: none;
  }

  .social-list__item:first-child {
    display: flex;
    align-items: center;
  }

  .social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
    width: 7.7%;
  }

  .slogan {
    width: 40%;
    margin: 0 95px 198px auto;

    .slogan__logo {
      margin-bottom: 55px;
    }
  }

  .slogan__shop-link {
    width: 47%;
    margin: 0 125px 0 auto;
  }

  .header__chart {
    top: 43px;
    right: 41px;
  }
}
