.card-header-container {
  width: 100%;
}

.card-header__content {
  font-family: "Hagin Caps Medium", sans-serif;
  width: 100%;
}

.card__header {
  min-height: 104px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #9b8869;
}

.card__nav {
  display: flex;
  align-items: center;
  width: 93%;
  margin: 0 auto;

  .card-nav__logo {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 119px;
    width: 23%;
  }
}
