.item-wrapper {
  width: 79%;
  margin: 0 auto;
}

.bread-crumbs {
  width: 19%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-top: 40px;
  margin-bottom: 52px;

  a {
    text-decoration: none;
    color: #9b8869;
  }
}

.item {
  display: flex;
}

.item__img {
  width: 42%;

  img {
    mix-blend-mode: multiply;
  }
}

.tumbler-1,
.tumbler-2,
.tumbler-3 {
  position: relative;
  margin-right: 5px;
  width: 28px;
  height: 28px;
}

.tumbler-1::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  background-size: 50% 50%;
  background-color: #333232;
  border: 2px solid #9b8869;
  border-radius: 100%;
}

.tumbler-2::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  background-size: 50%;
  background-color: #7e5b48;
  border: 2px solid #9b8869;
  border-radius: 100%;
}

.tumbler-3::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  background-size: 50%;
  background-color: #d5b688;
  border: 2px solid #9b8869;
  border-radius: 100%;
}

.item__description {
  width: 52%;
}
