.item-wrapper {
  width: 87%;
  margin: 0 auto;
}

.bread-crumbs {
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 10px auto 40px;

  a {
    display: inline-block;
    padding-right: 22px;
    text-decoration: none;
    color: #9b8869;
  }
}

.bread-crumbs__item {
  position: relative;

  &:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 11px;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
    right: 12%;
    background-color: #9b8869;
  }

  &:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 11px;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
    right: 12%;
    background-color: #9b8869;
  }
}

.item__img {
  position: relative;
  min-height: 288px;
  margin-bottom: 55px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 280px;
    border: 6px solid #f0ede8;
    opacity: 0.3;
  }

  img {
    display: block;
    mix-blend-mode: multiply;
    object-fit: cover;
  }
}

.item__chart {
  display: block;
  width: 70%;
  margin: 0 auto 30px;
  background-color: #ba4f4f;
  padding: 13px 0 13px 0;
  font-family: "Hagin Caps", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #e9e1d5;
}

.item__description {
  h2 {
    font-family: "Hagin Caps", sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 auto 10px;
    text-align: center;
    color: #817155;
  }

  .item__rating {
    margin: 0 auto 20px;
    text-align: center;
    vertical-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #9b8869;
  }

  .item__price {
    font-family: "Hagin Caps", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #ba4f4f;
    margin: 0 auto 30px;
    text-align: center;
  }

  .item__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #817155;
    text-align: center;
    margin: 0 auto 10px;
  }

  .item__warranty {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #ba4f4f;
    text-align: center;
    margin: 0 auto 30px;
  }
}

.item__controls {
  position: absolute;
  top: 520px;
  left: 110px;
  display: flex;
  justify-content: space-between;
}

.tumbler-1,
.tumbler-2,
.tumbler-3 {
  position: relative;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.tumbler-1::after {
  position: absolute;
  content: " ";
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-size: 50% 50%;
  background-color: #333232;
  border: 2px solid #9b8869;
  border-radius: 100%;
}

.tumbler-2::after {
  position: absolute;
  content: " ";
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-size: 50%;
  background-color: #7e5b48;
  border: 2px solid #9b8869;
  border-radius: 100%;
}

.tumbler-3::after {
  position: absolute;
  content: " ";
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-size: 50%;
  background-color: #d5b688;
  border: 2px solid #9b8869;
  border-radius: 100%;
}

